#profile-card {
    background-color: #33A968;
}

.pc-first img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.pc-first {
    padding: 50px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pc-first-text {
    text-align: center;
}

.pc-first-text h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 25.06px;
    color: white;
    text-align: center;
    margin-top: 15px
}

.pc-first-text p {
    font-weight: 500;
    font-size: 13.06px; 
    color: white;
    margin-bottom: 0px
}

.pc-second, .pc-third {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
    padding: 8px 0px;
    color: white;
    line-height: 1.3;
}

#profile-card h4 {
    font-weight: 500;
    font-size: 18.06px;
}

#profile-card h5 {
    font-weight: 500;
    font-size: 25.06px;
}

.pc-fourth h4 a{
    color: #E9C64D;
    
}

.pc-fourth {
    padding: 8px 0px;
    text-align: center;
}
