/* Marketplace */
.menu h3{
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
    color: #393a4f;
}
.pointer{
	cursor: pointer;;
}
/*price range*/
.price-data{
  display: flex; 
  pointer-events: none;
}
#amount_min{
  border: 0;
  font-weight: 500;
  background-color: #f4f4f4;
  color: #323a4a;
} 
#amount_max{
  border: 0;
  text-align: right;
  font-weight: 500;
  background-color: #f4f4f4;
  color: #323a4a;
  width: 100%;
  margin-right: -15px;
}
.ui-widget.ui-widget-content {
    border: 1px solid #f4f4f4!important;
    background: #d9d9d9!important;
    border-radius: 10px;
}
.ui-slider-horizontal .ui-slider-range{
  background: #54cd8b;
}
.ui-state-default, .ui-widget-content .ui-state-default{
  border: 1px solid #249958!important;
  background: #249958!important;
  font-weight: normal!important;
  color: #249958!important;
  border-radius: 50%!important;
}
.ui-state-default, .ui-widget-content .ui-state-default:focus-visible{
  outline: unset!important;
}
.shop-page-content{
	margin:auto!important;
}
.post-btn{
	border-radius: 10px!important;
}
.shop-header .store-tabs{
	max-width: unset!important;
}
/*cards*/
.location{
	display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.search-location{
	border-bottom: 1px solid #d9d9d9;
}
.store-sections .product-card .product-image img{
	max-width:unset!important;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.product-title{
	color: #383737!important;
}
.posted-by-info{
	display: flex;
	align-items: center;
	border-top: 1px solid #e8e8e8;
}
.posted-by{
	color: #9f9b99!important;
	font-size: 14px!important;
}
.posted-by-image{
	width: 35px;
    border: 1px solid #e3e3e3;
    border-radius: 50%;
    padding: 2px;
}
.posted-name{
	color: #000!important;
}
.set-options{
	position: absolute;
    color: #fff;
    display: grid;
    top: 6px;
    right: 10px;
}
.go-to-products, .heart{
	margin-top: 5px;
    width: 35px!important;
    border-radius: 4px;
    border: 1px solid #fff;
}
.price-classify{
	color: #000!important;
}
.sidebar-image{
	border: 2px solid #e3e3e3;
    width: 50px!important;
    padding: 3px;
}
.fa-location-dot{
	color: #249958;
    font-size: 24px;
}
.list-item{
	font-size: 15px!important;
}